@font-face {
	font-family: 'TeX-Gyre-Cursor';
	src: url('/fonts/TeX-Gyre-Cursor.otf');
}

body {
	background-color: #151515;
	color: white;
	font-family: 'TeX-Gyre-Cursor';
}

pre {
	color: gray;
	padding-left: 36px;
}
