@font-face {
	font-family: 'TeX-Gyre-Cursor';
	src: url('/fonts/TeX-Gyre-Cursor.otf');
}

html, body {
	height: 100%;
	margin: 0;
}

body, input, button, p {
	background-color: #151515;
	color: white;
	font-family: 'TeX-Gyre-Cursor';
}

textarea, input, button { outline: none; }

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}

pre {
	color: gray;
	padding-left: 36px;
	overflow-x: auto;
}

input[type='text'] {
    background: transparent;
    border:  none;
    border-bottom: 2px solid #e3e3e3;
    line-height: 30px;
    border-radius: 2px;
    color: #e3e3e3;
    padding: 5px;
	font-size: 16px;
	margin-right: 10px;
}

button {
    background: transparent;
    line-height: 30px;
    padding: 5px 10px;
    border: 2px solid #e3e3e3;
	cursor: pointer;
	margin-left: 5px;
    margin-right: 5px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	min-width: 100px;
}

button:hover {
	color: #151515;
	background: #e3e3e3;
}

button#submit_button:disabled {
	color: gray;
	border-color: gray;
}

button#submit_button:disabled:hover {
	color: gray;
	background: #151515;
}

#show_url {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.6);
	text-align: center;
	padding: 200px 0;
}

#show_url p {
	padding: 50px;
	max-width: 500px;
	background: #e3e3e3;
	color: #151515;
	text-align: center;
	text-align: center;
    font-size: 22px;
	margin: 50px auto;
}

.inputContainer {
	text-align: center;
	padding: 20px 0;
}

.visible {
	display: block !important;
}

@media all and (max-width: 525px) {
	input[type=text] {
		margin-bottom: 10px;
	}
}

@media all and (min-width: 961px) and (max-width: 1230px) {
	.container {
		width: 940px;
	}
}

@media all and (min-width: 769px) and (max-width: 960px) {
	.container {
		width: 740px;
	}
}

@media all and (min-width: 525px) and (max-width: 768px){
	.container {
		width: 500px;
	}
}

@media all and (min-width: 320px) and (max-width: 524px) {
	.container {
		width: 300px;
	}
	#show_url {
		padding: 70px 0;
	}
	#show_url p {
		max-width: 300px;
		padding: 30px 15px;
		overflow: auto;
	}
}